@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KyoboHandwriting2020A";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
  font-family: "LeferiPoint-BlackA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*--------------------------------------------- HEADER -------------------------------------------------------*/
.navbar {
  display: flex;
  flex-flow: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ececec;
  /* margin-bottom: 1rem; */
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #ffffff;
  align-items: center;
}

.navbar .navBody {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: clamp(450px, 90%, 1200px);
}

.navbar .elseNavBody {
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  width: clamp(400px, 90%, 950px);
}

.elseNavBody .always {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.elseNavBody .hidingMenu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 30px 20px 10px 10px;
}
.hidingMenu .rightSideMenu {
  display: flex;
  flex-flow: column nowrap;
  gap: 13px;
  align-items: flex-start;
}

.hidingMenu .rightSideMenu h3 {
  color: rgb(80, 80, 80);
}

.hidingMenu .login {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(218, 218, 218);
  padding: 10px 20px;
  border-radius: 15px;
  position: relative;
}

.hidingMenu .login #alarm {
  position: absolute;
  top: 3px;
  left: 75px;
  color: rgb(226, 98, 98);
}
.hidingMenu .login:hover {
  background-color: rgb(234, 249, 255);
  border-color: skyblue;
  color: rgb(6, 132, 182);
}

.hidingMenu .login h3:hover {
  color: rgb(6, 132, 182);
}

.navbar h2 {
  font-family: "GmarketSansMedium";
  margin: 0 !important;
  font-size: 1.6em;
  font-weight: 650;
  padding-top: 0.3rem;
  letter-spacing: 4px;
}

.navbar h3 {
  font-family: "Pretendard-Regular";
  margin: 0 !important;
  font-size: 1.3em;
  font-weight: 600;
}

.navbar h3:hover {
  color: #00c200;
}

.navbar .titleLogo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.navbar .titleLogo img:nth-child(1) {
  height: 45px;
  width: 45px;
  margin-right: 15px;
}

.navbar .leftDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 6vw;
}

.menus {
  display: flex;
  flex-flow: row;
  gap: 5vw;
  width: fit-content;
}

.navbar h3:hover {
  font-weight: 700;
  cursor: pointer;
}

.logoutModal {
  padding: 5px 10px;
}

.logoutModal > * {
  margin-left: 10px;
}

.logoutModal > *:hover {
  cursor: pointer;
  color: #00ff00;
}

.login {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  position: relative;
}

.login #alarm {
  position: absolute;
  top: -3px;
  left: 30px;
  color: rgb(226, 98, 98);
}

.login > h3 {
  display: grid;
  align-content: center;
}

.bodyOverlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bodyOverlay #toLogout {
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}

.bodyOverlay h3 {
  margin-top: 0.7rem !important;
}

.footerOverlay {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
  gap: 40px;
  padding-top: 0.6rem;
  margin-top: 0.5rem;
}

.footerOverlay h4 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin: 0 !important;
}

#goManage {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  margin: 8px 0 0 0 !important;
  border-top: 1px solid lightgray;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

#goManage:hover {
  text-decoration: underline;
  color: rgb(176, 229, 250);
}

/*--------------------------------------------- BODY -------------------------------------------------------*/
.home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.home .home-body {
  display: flex;
  flex-flow: column wrap;
  /* padding-left: 18vw;
  padding-right: 18vw; */
  align-items: center;
  padding-top: 10rem;
  background-image: url(../../../public/image/aa.png);
  background-repeat: no-repeat;
  background-position: 95% 65px;
  background-size: 30%;
  width: clamp(762px, 90%, 1200px);
}

.home .home-body .txt-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  font-family: "Pretendard-Regular";
  width: 85%;
  row-gap: 40px;
}

.home .home-body .txt-box #t1 {
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 2.2em;
  font-weight: 800;
}

.home .home-body .txt-box #t2 {
  grid-row: 2/3;
  grid-column: 1/3;
  font-size: 2em;
  font-weight: 800;
}

.home .home-body .txt-box #t2-1 {
  grid-row: 2/3;
  grid-column: 2/4;
  font-size: 1.4em;
  font-weight: 800;
  color: #00ff00;
  font-family: "GmarketSansMedium";
  letter-spacing: 5px;
}

/* ------------------AI 기능 css------------------------------*/
.whatdiff {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  margin-top: 13em;
  width: 100%;
}

.whatdiff h4 {
  font-family: "Pretendard-Regular";
  margin: 0 !important;
  font-weight: 600;
  font-size: 1.5em;
}

.aiShow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2vw;
  row-gap: 30px;

  width: 100%;
}

@media screen and (max-width: 1050px) {
  .aiShow {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 100%;
  }
}

.aiShow .moreBtn {
  grid-column: 1/3;
  text-align: center;
  cursor: pointer;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 15px;
  width: fit-content;
  padding: 0.5em 1vw;
  justify-self: center;
}

.moreBtn p {
  font-family: "Pretendard-Regular";
  font-weight: 500;
}

.aiShow .hiddenBoxes {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2vw;
  row-gap: 30px;
  transition: all 2s ease-out;
  width: 100%;
  max-height: 300px;
}
.aiShow #WPCbox {
  grid-column: 1/3;
  grid-row: 1/2;
}

.aiShow .Box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-family: "Pretendard-Regular";
  background-color: #f8f8f8;
  width: 100%;
  border-radius: 15px;
  padding: 1em 1vw;
  min-height: 130px;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .aiShow {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: 100%;
  }

  .aiShow .Box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-family: "Pretendard-Regular";
    background-color: #f8f8f8;
    width: 100%;
    border-radius: 15px;
    padding: 1em 2vw;
    min-height: 130px;
    cursor: pointer;
  }
}

.aiShow p {
  margin: 0 !important;
}

.aiShow .Box p:nth-child(1) {
  font-family: "GmarketSansMedium";
  font-size: 1.1em;
}
.aiShow .Box p:nth-child(2) {
  text-align: end;
  color: gray;
}

/* #WPCbox {
  background-image: url(../../../public/image/wpc.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: 80px 80px; */
/* background-position: 50% 3px;
} */

#WPCbox {
  position: relative;
}

#WPCbox img {
  opacity: 0.8;
  border-radius: 15px;
  align-self: center;
  margin: 5px 0;
}

#QA {
  background-image: url(../../../public/image/chat-app.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 80px 80px;
  background-position: 90% 7px;
}

#review {
  background-image: url(../../../public/image/code-review.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 70px 70px;
  background-position: 92% 10px;
}

#otherCode {
  background-image: url(../../../public/image/findCode.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 90px 80px;
  background-position: 93% 7px;
}

#graphBanner {
  background-image: url(../../../public/image/graph.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 90px 80px;
  background-position: 93% 7px;
}

#srBanner {
  background-image: url(../../../public/image/online-learning.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 90px 80px;
  background-position: 93% 7px;
}

#genAI {
  background-image: url(../../../public/image/ai-file.png);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 70px 75px;
  background-position: 91% 7px;
}

/* ------------------AI 기능 css------------------------------*/
.home .homeGraph {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  width: 100%;
  /* height: 300px; */
  padding: 10px 0;
  margin-top: 10rem;
  gap: 30px;

  /* align-items: center; */
}

.home .else {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* height: 300px; */
  width: 90%;
  padding: 10px 0;
  margin-top: 10rem;
  column-gap: 30px;
  row-gap: 30px;
}

.levelGraph {
  display: flex;
  flex-flow: column nowrap;
  background-color: #effffec5;
  border-radius: 15px;
  align-items: center;
}

.levelGraph:hover {
  cursor: pointer;
  border: 2px solid #ecececce;
}

.levelGraph h3 {
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
  font-weight: 500;
  margin: 0 !important;
  position: relative;
  top: 10%;
  color: rgb(85, 85, 85);
  /* text-align: center; */
}

.levelGraph h2 {
  font-family: "Pretendard-Regular";
  font-size: 3em;
  font-weight: 600;
  margin: 0 !important;
  position: relative;
  top: 33%;
}

.levelGraph p {
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
  margin: 0 !important;
  position: relative;
  top: 50%;
  color: gray;
}

.lineG {
  background-color: #effffec5;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
}

.lineG p {
  font-family: "Pretendard-Regular";
  font-size: 0.9em;
  font-weight: 600;
  margin: 3px 0 3px 0;
  text-align: center;
}

.else .lineG {
  grid-row: 2/3;
  grid-column: 1/3;
}

.else .diffGraph {
  grid-row: 1/2;
  grid-column: 2/3;
}

.diffGraph {
  background-color: #effffec5;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}

.diffGraph #exDiff {
  font-size: 0.9em;
  color: gray;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  margin: 0 !important;
}

.diffGraph h3 {
  font-family: "Pretendard-Regular";
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 !important;
}

.diffGraph .graphBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.graphBox .det {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.det .barOrigin {
  width: 165px;
  height: 15px;
  border-radius: 5px;
  background-color: #dddddd;
  z-index: 1;
}
.barOrigin .barContent {
  height: 15px;
  z-index: 2;
  border-radius: 5px;
  background-color: #7472ce;
}

.det p {
  font-family: "Pretendard-Regular";
  font-size: 0.9em;
  font-weight: 600;
  margin: 0 !important;
  color: gray;
  width: 30px;
  text-align: center;
}

.home .Block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6vw;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .home .Block {
    display: flex;
    flex-flow: column nowrap;
    grid-template-rows: 1fr 1fr;
    gap: 50px;

    width: clamp(500px, 80%, 600px);
  }
}

.Block .boxTitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.boxTitle h2 {
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 !important;
}

.Block .box1 {
  grid-column: 1/2;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.Block .box2 {
  cursor: pointer;
  grid-column: 2/3;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.Block .blockBox {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.blockBox .blockContent {
  width: 100%;
}

.blockBox .blockTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.blockBox .blockTop2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
}

.blockTop h3 {
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 !important;
}

.blockTop h4 {
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
  margin: 0 !important;
  color: gray;
}

.blockTop2 h3 {
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 !important;
}

.blockBox .blockSec {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.blockBox .blockSec2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.blockSec #blockCat {
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
  color: #494949;
  margin: 0 !important;
}

.blockSec .block_un {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.blockSec .block_un2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.block_un .unOne {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 7px;
}

.block_un p {
  font-family: "Pretendard-Regular";
  font-size: 0.9em;
  font-weight: 500;
  margin: 0 !important;
}

.block_un2 p {
  font-family: "Pretendard-Regular";
  font-size: 0.9em;
  font-weight: 500;
  margin: 0 !important;
}

.blockBox .blockBody {
  display: flex;
  margin-top: 15px;
  border-top: 2px solid lightgray;
  padding-top: 15px;
}

.blockSec p {
  font-family: "Pretendard-Regular";
  font-size: 0.9em;
  font-weight: 500;
  margin: 0 !important;
}

.blockSec2 p {
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 600;
  margin: 0 !important;
}

.blockBox .blockThird {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin-top: 25px;
  justify-content: space-between;
}

.blockBox .blockThird p {
  font-family: "Pretendard-Regular";
  font-size: 0.9em;
  font-weight: 500;
  color: gray;
  margin: 0 !important;
}

.blockBody p {
  font-family: "Pretendard-Regular";
  font-size: 0.9em;
  color: gray;
  font-weight: 500;
  margin: 0 !important;
}

.blockTop2 .redBox {
  color: red;
  width: fit-content;
}

.home-body .ad-box {
  margin-top: 8rem;
  margin-bottom: 8rem;
  width: 97%;
}

.home .notice {
  display: flex;
  flex-flow: column;
  background-color: #f7f7f7;
  border-radius: 15px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: rgb(29, 29, 29);
  margin-bottom: 8rem;
  width: 97%;
}

.notice .noticeHere .title-notice {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(194, 194, 194);
  margin: 0 30px 1.5rem 30px;
}

.title-notice h2 {
  margin: 0 !important;
  font-family: "Pretendard-Regular";
  font-size: 1.2em;
  font-weight: 600;
  padding-left: 1rem;
}

.notice .body-notice {
  list-style-type: disc;
  padding-left: 4rem;
  margin-top: 1rem;
  max-height: 400px;
}
.body-notice {
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 600;
}

.box1Board {
  height: 200px;
  border: 2px solid lightgreen;
  border-radius: 15px;
  font-family: "Pretendard-Regular";
  font-size: 1em;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box1Board p {
  font-weight: 600;
  margin: 0 !important;
}

.box2Problem {
  height: 200px;
  border: 2px solid lightblue;
  border-radius: 15px;
  font-family: "Pretendard-Regular";
  font-size: 1em;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box2Problem p {
  font-weight: 600;
  margin: 0 !important;
}

.shadow-drop-2-center:hover {
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-10 0:29:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/*--------------------------------------------- FOOTER -------------------------------------------------------*/
.footer {
  display: flex;
  flex-flow: column wrap;

  padding-top: 3rem;
  align-items: center;
  padding-bottom: 2rem;
  color: rgb(165, 165, 165);
}

.footerBody {
  width: clamp(750px, 90%, 1150px);
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.footer h2 {
  font-family: "GmarketSansMedium";
  font-size: 1.5rem;
}

.pageIcons {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;
  width: 100px;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;
}

.footerLogo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footerLogo h2 {
  color: #00ff00 !important;
}

.txts {
  display: flex;
  flex-flow: row wrap;
  font-family: "Pretendard-Regular";
  font-size: 1em;
}

.txtz2 {
  display: flex;
  flex-flow: row wrap;
  font-family: "Pretendard-Regular";
  font-size: 0.9em;
}

.txtz2 p {
  margin-right: 5rem;
  cursor: pointer;
}

@media screen and (max-width: 870px) {
  .txtz2 p {
    margin-right: 3rem;
  }
}

.txts .TT {
  font-family: "GmarketSansMedium";
  font-size: 1.2rem;
  margin-right: 1rem;
}

.div1 {
  margin-right: 4rem;
}

.div2 {
  margin-right: 4rem;
}
