.Res {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 0 5rem 0;
}

.res-body {
  width: clamp(750px, 90%, 1200px);
}

.res-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 1vw 1.3rem 1vw;
  border-bottom: 1px solid lightgray;
}

.res-top p {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1.1em;
  margin: 0 !important;
}

.taskNo {
  color: red;
}

.taskNo2 {
  color: rgb(255, 166, 0);
}

.res-top .box {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: start;
  align-items: start;
}
.un {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  align-items: center;
}

.box .un2 {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}

.box .un p {
  padding-top: 4px;
}

.my_submit {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1.3rem 1vw 1.3rem 1vw;
  border-bottom: 1px solid lightgray;
}

.my_submit .fBox {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 15px;
}

.my_submit p {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1.1em;
  margin: 0 !important;
}
.fBox .box {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: start;
  align-items: start;
}

.my_submit .scoring {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.my_submit .time {
  color: rgb(94, 94, 94);
  font-size: 1em;
  font-weight: 500;
}

.scoring .message {
  font-size: 1em;
  font-weight: 500;
  color: gray;
  padding-top: 10px;
}

.myCode {
  padding: 1.3rem;
  width: 100%;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1.1em;
  display: flex;
  flex-flow: column nowrap;
}

.myCode p {
  margin: 0 !important;
  padding-left: 5px;
}

.myCode .R-Code {
  padding: 1em 2vw;
  font-size: 1em;
  font-weight: 500;
  color: rgb(78, 78, 78);
  border-radius: 15px;
  cursor: text;
  background-color: rgb(245, 245, 245);
  margin: 15px 1vw !important;
  white-space: pre-wrap;
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;
  width: 98%;
}

.R-Code .codeLine {
  display: grid;
  grid-template-columns: 3% 95%;
  column-gap: 20px;
}

.codeLine .codeNum {
  grid-column: 1/2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}

.codeLine .codeTxt {
  grid-column: 2/3;
}

.ifCorrect {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: start;
  gap: 10px;
}

.ifCorrect .timeAndMemory {
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
  align-items: center;
  padding-left: 1vw;
}

.c-un {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 2px;
}
.timeAndMemory p {
  font-weight: 500;
  font-size: 0.9em;
  color: gray;
}

.afterCorrect {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  width: fit-content;
  float: right;
  color: rgb(104, 104, 104);
  position: relative;
}

.afterCorrect:hover {
  color: rgb(98, 148, 255);
}

.afterCorrect p {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  margin: 0 !important;
  padding-top: 2px;
}

.afterWrong {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  width: fit-content;
  float: right;
  color: rgb(104, 104, 104);
  position: relative;
}

.afterWrong:hover {
  color: rgb(98, 148, 255);
}

.afterWrong p {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  margin: 0 !important;
  padding-top: 2px;
}
.pylint {
  padding: 1.3rem 1vw 1.3rem 1vw;

  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1.1em;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
}

.pylint p {
  margin: 0 !important;
}

.pylint .detail {
  padding: 0.5em 2vw;
  font-size: 1em;
  font-weight: 500;
}

.detail li {
  list-style-type: circle;
  padding-bottom: 8px;
  color: rgb(95, 95, 95);
}

.wpcBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1vw;
  margin-top: 35px;
  padding: 1.3rem 1vw 1.3rem 1vw;
  justify-items: center;
  position: relative;
  align-items: center;

  border-bottom: 1px solid lightgray;
}

.wpcBox .wpcItem {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
}

.wpcItem p {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  margin: 0 !important;
}

.wpcBox .differ {
  grid-column: 1/3;
  width: 90%;
  margin-bottom: 15px;
}

/*-------------------------------다른 로직 코드 확인하기 CSS ---------------------------------*/

.OC {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.3rem 1vw;
}

.OC .OCtop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.OCtop h2 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  margin: 0 !important;
  color: navy !important;
}
.OC .OCmiddle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.OCmiddle h2 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  margin: 0 !important;
  color: navy !important;
}

.OCtop p {
  font-family: "Pretendard-Regular";
  font-weight: 500;
  font-size: 1em;
  margin: 0 !important;
}

.OCtop .un {
  cursor: pointer;
  color: gray;
}

.OCtop .un:hover {
  color: red;
  text-decoration: underline;
}

.OCcontent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;

  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  padding: 7px 0.5vw;
}

.OCcontent .OC-Code {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 7px;
}

.OCcontent .OC-opi {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1vw;
  margin-bottom: 10px;
}

.OCcontent .OC-txt {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.OC-txt p {
  font-size: 0.9em;
  font-weight: 500;
  color: gray;
}
.OC-txt .c-un {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}

.OC-opi p {
  font-family: "Pretendard-Regular";
  font-weight: 500;
  font-size: 1em;
  margin: 0 !important;
}

.OC-opi .OC-liked {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
