.QA {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.QA .questions-body {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 0;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  font-size: 1.1em;
  min-height: 200px;
}

.Head-Ac {
  display: grid;
  grid-template-columns: 9fr 1fr;
  justify-content: center;
  align-items: center;
}

.Head-Ac .check {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* .accordion-header button {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.accordion-header button .check {
  grid-column: 2/3;
} */

.makeAns {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 2px solid lightgray;
  padding: 20px;
  border-radius: 15px;
}

/* .makeAns:focus {
  border: 2px solid skyblue;
} */

.makeAns .cm-theme-light {
  width: 100%;
}

.makeAns #answerSubmit {
  border-radius: 15px !important;
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 600;
  width: 100%;
}
