.QA {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.QA .questions-body {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 0;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  font-size: 1.1em;
  min-height: 200px;
}

.Head-Ac {
  display: grid;
  grid-template-columns: 9fr 1fr;
  justify-content: center;
  align-items: center;
}

.Head-Ac .check {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/* .accordion-header button {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.accordion-header button .check {
  grid-column: 2/3;
} */

.q_content {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  margin: 0px 10px 10px 10px;
}

/* .makeAns:focus {
  border: 2px solid skyblue;
} */

.oneQuestion {
  background-color: rgb(245, 245, 245);

  border-radius: 15px;
}

.oneQuestion .R-Code {
  padding: 0 0 1em 0;
  font-size: 1em;
  font-weight: 500;
  color: rgb(78, 78, 78);
  border-radius: 15px;
  cursor: text;
  background-color: rgb(245, 245, 245);
  margin: 2px 1vw !important;
  white-space: pre-wrap;
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;
}

.oneQuestion .R-Code .codeLine {
  display: grid;
  grid-template-columns: 3% 95%;
  column-gap: 13px;
}

.oneQuestion .codeLine .codeNum {
  grid-column: 1/2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}

.oneQuestion .codeLine .codeTxt {
  grid-column: 2/3;
}

.contentBody p {
  margin: 0 !important;
  padding-bottom: 3px;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.contentBody h4 {
  margin: 0 !important;
  padding-bottom: 7px;
  font-size: 1em;
  padding-left: 8px;
}

.contentBody h4:nth-child(2) {
  color: rgb(111, 86, 224);
  padding-left: 20px;
}

.contentBody .whoQue {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 10px;
}

.whoQue p:nth-child(2) {
  color: gray;
}

.contentBody .qForAI {
  display: flex;
  flex-flow: row nowrap;
  gap: 7px;
  float: right;
  padding: 10px 10px 0 0;
  cursor: pointer;
}

.contentBody .qForAI:hover {
  color: rgb(71, 183, 228);
}

/* .contentBody .cm-content {
  background-color: rgb(245, 245, 245);
} */

.contentBody .cm-gutterElement {
  background-color: rgb(245, 245, 245);
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}

.contentBody .cm-line {
  /* background-color: rgb(255, 255, 255); */
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}

.contentBody .cm-activeLine {
  /* background-color: rgb(245, 245, 245); */
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}

.whoAns {
  display: grid;
  border-bottom: 2px solid rgb(169, 255, 162);
  margin-bottom: 15px;
  margin-top: 3rem;
  color: rgb(52, 199, 39);
}

.nameAnddate {
  display: flex;
  flex-flow: column nowrap;

  padding: 5px;
}

.nameAnddate .fromAI {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.fromAI h4 {
  color: rgb(0, 22, 119) !important;
  margin: 0 !important;
  padding: 0 !important;
}

.nameAnddate p:nth-child(1) {
  font-weight: 600 !important;
}

.nameAnddate p:nth-child(2) {
  color: gray;
}

.ans {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.ans:hover {
  background-color: rgb(226, 247, 255);
  cursor: pointer;
}

.ansTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(179, 179, 255);
  margin-bottom: 5px;
}

.ansTop .itGood {
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
  align-items: center;
  gap: 5px;
  color: rgb(80, 80, 80);
}

.ansTop .itGood:hover {
  color: rgb(84, 84, 255);
}

.ans .cm-content {
  background-color: rgb(247, 252, 255);
}

.ans .cm-gutter {
  background-color: rgb(247, 252, 255);
}

.ans .cm-gutterElement {
  background-color: rgb(255, 255, 255);
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}

.ans .cm-line {
  background-color: rgb(255, 255, 255);
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}

.ans .cm-activeLine {
  background-color: rgb(247, 252, 255);
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500 !important;
}

.ans .AnswerContent {
  margin-bottom: 8px;
  padding: 8px;
}

.ans h4 {
  color: rgb(111, 86, 224);
}
.ans .R-Code {
  padding: 0 0 1em 0;
  font-size: 1em;
  font-weight: 500;
  color: rgb(78, 78, 78);
  border-radius: 15px;
  cursor: text;
  background-color: transparent !important;
  margin: 2px 0.5vw !important;
  white-space: pre-wrap;
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;
}

.ans .R-Code .codeLine {
  display: grid;
  grid-template-columns: 3% 95%;
  column-gap: 13px;
}

.ans .codeLine .codeNum {
  grid-column: 1/2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}

.makeAns {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 15px;
  background-color: rgb(250, 250, 250);
  padding: 20px;
  border-radius: 15px;
  margin-top: 50px;
}

.makeAns h5 {
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 600 !important;
}

.makeAns .cm-theme-light {
  width: 100%;
}

.makeAns #answerSubmit {
  border-radius: 15px !important;
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 600;
  width: 100%;
}

#quill {
  width: 100%;
  height: 100px;
  border: 1px solid lightgray;
  border-radius: 15px;
}

.ql-editor p {
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500 !important;
}

.swal2-title {
  font-family: "Pretendard-Regular";
  font-size: 1.2em;
  font-weight: 500 !important;
  line-height: 90%;
}

.swal2-title h2 {
  font-family: "Pretendard-Regular";
  font-size: 1.2em;
  font-weight: 500 !important;
}

.swal2-title p {
  font-size: 0.9em !important;
  font-weight: 500 !important;
  margin: 0 !important;
}

.swal2-title br {
  height: 10px !important;
}

.swal2-footer {
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500 !important;
  color: rgb(173, 173, 173) !important;
}

.swal2-actions button {
  font-family: "Pretendard-Regular";
  font-size: 0.9em !important;
  font-weight: 500 !important;
}

.swalCode {
  margin: 0 auto;
  text-align: left !important;
  white-space: pre-wrap;
  width: max-content;
  line-height: 120% !important;
  max-height: 500px;
  border-top: 1px solid lightgray;
  padding-top: 10px;
}
