.groupInfo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1rem 0 5rem 0;
}

.gi {
  width: clamp(650px, 90%, 1200px);
}

.gi-head {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  display: flex;
  flex-flow: column nowrap;
}

.gi-head .headOne {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 2px solid rgb(226, 226, 226);
  padding-left: 1rem;
  align-items: center;
  justify-content: space-between;
}

.gi-head .headTwo {
  padding-left: 8rem;
  color: rgb(109, 109, 109);
  padding-top: 0.5rem;
}

.headOne > div:nth-child(1) {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
  align-items: center;
}

.headOne > div:nth-child(2) {
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
}

.gi-head h2 {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0 !important;
}

.gi-head p {
  font-size: 1.1em;
  margin: 0 !important;
}

/*----------------------body---------------*/
#gi-B {
  display: grid;
  grid-template-columns: 2.3fr 0.7fr;
  column-gap: 3vw;
}

.member-list {
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid skyblue;
  border-radius: 15px;
  position: sticky;
  top: 80px;
}

.member-list p {
  text-align: center;
}

.member-list h3 {
  text-align: center;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1.2em;
  padding: 10px;
  color: rgb(82, 139, 189);
  margin: 0 !important;
}

.member-list-header {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.member-list-header p {
  margin: 0 !important;
}

.member-list .oneMember {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.oneMember p {
  margin: 0 !important;
}

.oneMember p:nth-child(2) {
  cursor: pointer;
}
.oneMember p:nth-child(2):hover {
  color: rgb(114, 114, 255);
}

/*=============그룹 게시판==================*/

.group-board {
  display: flex;
  flex-flow: column nowrap;
}

.group-board .gb-header {
  display: flex;
  flex-flow: row nowrap;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  margin: 15px 2vw 0 2vw;
  cursor: pointer;
  margin-top: 15px;
}

.gb-header p {
  margin: 0 !important;
}

.gb-header #he1 {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.gb-header #he1:hover {
  color: rgb(73, 73, 141);
  text-decoration: underline;
}

.gb-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  padding: 30px;
}

@media screen and (max-width: 1130px) and (min-width: 850px) {
  .gb-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    row-gap: 20px;
  }
}

@media screen and (max-width: 850px) {
  .boardBody {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 3rem;
    justify-content: space-between;
    gap: 15px;
  }

  .gb-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
    gap: 15px;
  }
}

.gb-body .gPost {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 15px;
  width: 100%;
  height: 250px;
  background-color: aliceblue;
}

.gb-body .gPost:hover {
  cursor: pointer;
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.gPost .gPostInner {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.gPostInner h2 {
  margin: 0 !important;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1.4em;
}

.gPostInner h4 {
  margin: 0 !important;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 0.9em;
}

.gPostInner p {
  margin: 0 !important;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 0.9em;
}

.gPostInner .gPostTitle {
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.gPost .un {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.gPost .un2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 7px;
}

@media screen and (max-width: 850px) {
  .gPost {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    /* padding: 20px; */
    display: block;
    position: relative;
    cursor: pointer;
  }

  .gPost .un {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-1 21:57:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
