.boardDetail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 5rem;
}

.boardDetail .BDBody {
  width: clamp(650px, 90%, 1180px);
}

.boardDetail .BDtitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 1em;
  font-family: "Pretendard-Regular";
}

.boardDetail .BDsubTitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.BDsubTitle #bun1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 3vw;
}

#bun2 {
  cursor: pointer;
  color: gray;
}

#bun2:hover {
  color: red;
}

.BDsubTitle .BDun {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.boardDetail .BDsubTitle p {
  margin: 0 0 0 15px !important;
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
}

.boardDetail .BDtitle .BD_idAndTime {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 30px;
}

.boardDetail .BDtitle h2 {
  font-family: "GmarketSansMedium" !important;
  font-weight: 700;
  font-size: 2.1em;
}

.boardDetail .BDtitle .BD_idAndTime h3 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
}

.boardDetail .BDContent {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  width: 100%;
  margin-bottom: 5rem;
}

.BDContent .BDTxt {
  font-family: "Pretendard-Regular";
  font-weight: 550;
  font-size: 1.1em;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 200px;
  margin-top: 15px;
}

.BDCode {
  display: flex;
  flex-flow: column nowrap;
}

.BDCode .BD_codeTop {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
}

.BDCode h2 {
  text-align: center;
  color: #89d0ff;
  font-family: "GmarketSansMedium" !important;
  font-weight: 700;
  font-size: 1.7em;
  margin: 0 !important;
  padding-top: 6px;
}

.BDCode .BD_showCode {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  min-height: 300px;
  border-radius: 50px;
}

.BDContent p {
  font-family: "Pretendard-Regular";
  font-weight: 550;
  font-size: 1.1em;
}

.comments {
  display: flex;
  flex-flow: column nowrap;
}

.comments .cHead {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;

  margin-bottom: 20px;
  justify-content: space-between;
}

.cHead .cUn1 {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  align-items: center;
}

.cUn1 h2 {
  margin: 0 !important;
}

.comments h2 {
  font-family: "GmarketSansMedium" !important;
  font-weight: 650;
  font-size: 1.5em;
}

.comments .cWrite {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-right: 30px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.comments .cWrite p {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1.1em;
  margin: 0 !important;
}

.comments .cBody {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5rem;
}

.commentContext {
  /* border: 1px solid lightgray; */
  border-radius: 15px;
  padding: 15px 30px 15px 30px;
  background-color: #f3f3f39f;
  display: flex;
  flex-flow: column nowrap;
}

.commentContext .commentHead {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.commentContext .commentHead .un {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 30px;
}

.commentContext .commentHead .un2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.commentContext .commentHead .un2 :nth-child(1) {
  /* color: gray; */
}

.commentContext .commentHead p {
  font-family: "Pretendard-Regular";
  font-weight: 550;
  font-size: 1em;
  margin: 0 !important;
  padding-bottom: 2px;
}

.commentContext .commentHead .cUserID {
  font-family: "Pretendard-Regular";
  font-weight: 550;
  font-size: 1.1em;
  margin: 0 !important;
}

.commentContext .commentBody {
  padding-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.commentContext .commentBody p {
  font-family: "Pretendard-Regular";
  font-weight: 550;
  font-size: 1.1em;
  margin: 0 !important;
}

#closeState {
  display: none;
}

.writeComment {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
}

#commentArea {
  border-radius: 12px !important;
  font-family: "Pretendard-Regular";
  margin: 0 !important;
  font-size: 1em;
  font-weight: 580;
}

.writeComment .btns {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  width: 100%;
}

#commentCancel {
  border-radius: 12px !important;
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 10px;
  width: 100%;
}

#commentSubmit {
  border-radius: 12px !important;
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 10px;
  width: 100%;
}

#del_Guel {
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

#commentCon {
  width: 80%;
}

#commentDel {
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  color: red;
  padding-right: 10px;
}
