.boardDetail {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 18vw;
  padding-right: 18vw;
  margin-top: 5rem;
}

.boardDetail .BDtitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 1em;
}

.boardDetail .BDsubTitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.BDsubTitle #bun1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 3vw;
}

#bun2 {
  cursor: pointer;
  color: gray;
}

#bun2:hover {
  color: red;
}

.BDsubTitle .BDun {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.boardDetail .BDsubTitle p {
  margin: 0 0 0 15px !important;
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
}

.boardDetail .BDtitle .BD_idAndTime {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 18vw;
}

.boardDetail .BDtitle h2 {
  font-family: "GmarketSansMedium" !important;
  font-weight: 700;
  font-size: 2.1em;
}

.boardDetail .BDtitle .BD_idAndTime h3 {
  font-family: "Pretendard-Regular";
  font-weight: 550;
  font-size: 1.1em;
}

.boardDetail .BDContent {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 5rem;
}

.BDContent .BDTxt {
  padding-left: 15px;
  padding-top: 20px;
  min-height: 200px;
}

.BDContent .BDCode {
}

.BDCode {
  display: flex;
  flex-flow: column nowrap;
}

.BDCode .BD_codeTop {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
}

.BDCode h2 {
  text-align: center;
  color: #89d0ff;
  font-family: "GmarketSansMedium" !important;
  font-weight: 700;
  font-size: 1.7em;
  margin: 0 !important;
  padding-top: 6px;
}

.BDCode .BD_showCode {
  padding-left: 30px;
  padding-top: 20px;
  min-height: 550px;
  border-radius: 50px;
}

.BDContent p {
  font-family: "Pretendard-Regular";
  font-weight: 550;
  font-size: 1.1em;
}
