.inside {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1rem 0 5rem 0;
  font-family: "Pretendard-Regular";
}

.inside-body {
  width: clamp(650px, 90%, 1200px);
  padding-top: 1rem;
}

.inside-body .top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.top h4 {
  font-weight: 600;
}

.top p {
  margin: 0 !important;
  color: gray;
}

.inside-body .mid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 3vw;
  padding: 0 0.5vw;
}

.mid .taskRating p {
  margin: 0 !important;
  padding-bottom: 5px;
}

.grid-body {
  display: grid;
  grid-template-columns: 8fr 2fr;
  column-gap: 2vw;
  margin-top: 30px;
}

.insideUsers {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
}

.insideUsers .userHead {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  justify-items: center;
  width: 100%;
  border: 2px solid #bed9ff;
  border-radius: 15px 15px 0 0;
  padding: 3px 0;
}

.insideUsers p {
  margin: 0 !important;
}

.insideUsers .user {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  justify-items: center;
  width: 100%;
  border-bottom: 1px solid #bed9ff;
  padding: 3px 0;
}

.insideUsers .user:nth-last-child(3) {
  border-bottom: 2px solid #bed9ff;
}

.insideUsers .user:hover {
  cursor: pointer;
  background-color: rgb(231, 249, 255);
}

.fixRoadmap {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  color: gray;
}

.fixRoadmap:hover {
  cursor: pointer;
  color: rgb(31, 194, 31);
  font-weight: 600;
}

.deleteRoadmap {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  color: gray;
}

.deleteRoadmap:hover {
  cursor: pointer;
  color: red;
  font-weight: 600;
}

.insideTasks {
  display: flex;
  flex-flow: column nowrap;
}
.insideTasks .taskHead {
  display: grid;
  grid-template-columns: 0.5fr 2.3fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 11px 15px;
  border: 2px solid #bed9ff;
  border-radius: 15px 15px;
}

.insideTasks .taskHead p {
  margin: 0 !important;
  text-align: center;
  font-weight: 600;
}

.insideTasks .taskHead p:nth-child(1) {
  color: red;
}

.insideTasks .leftBottom {
  align-items: center;
  border: 2px solid #bed9ff;
  border-radius: 15px 15px;
  padding: 10px 15px;
}

.insideTasks .problemsBox_type3:nth-last-child(2) {
  border-bottom: none !important;
}
