.manage {
  display: flex;
  flex-flow: column;
  margin-top: 3rem;
  padding-left: 17vw;
  padding-right: 17vw;
  padding-bottom: 10rem;
}

.manage .mTi {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 5rem;
  text-align: center;
  text-decoration: underline;
}

.m-head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
}

.m-head h2 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 2rem;
}

#m-Logo {
  color: #00ff00;
  cursor: pointer;
}

.m-upload {
  display: flex;
  flex-flow: column nowrap;
  margin: 1.2rem;
  border: 2px solid darkgray;
  border-radius: 30px;
  padding: 3rem;
  font-family: "Pretendard-Regular";
}

.m-upload-context {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5vw;
  margin-top: 3rem;
}

.m-upload-context .m-desc {
  grid-column: 1/2;
  display: flex;
  flex-flow: column nowrap;
}

.m-upload-context .m-desc .m-des-img {
  margin-top: 80px;
}

.m-upload-context .m-desc .m-diff {
  margin-top: 80px;
}

.m-upload-context .m-desc #m-timeLimit {
  margin-top: 47px;
}

.m-upload-context .m-desc #m-memLimit {
  margin-top: 47px;
}

.m-upload-context .m-inOut {
  grid-column: 2/3;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

#m-submit_btn {
  margin-top: 3rem !important;
  border: 1px solid #00ff00;
  border-radius: 20px;
}

#m-submit_btn:hover {
  border: 1px solid #00ff00;
  background-color: #00ff00 !important;
}

.m-upload .m-sub {
  display: flex;
  flex-flow: column wrap;
}

.m-choLen {
  margin-top: 158px;
}

.m-testCase {
  margin-top: 30px;
}
.tasksimple {
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 3vw;
  width: 100%;
  font-size: 1.5em;
}
.tasksimplelist {
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 3vw;
  width: 100%;
}

/*-----------------------------------Manage Menu-----------------------------------------*/
.manageMenu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 10px;
  position: fixed;
  left: 4vw;
  top: 180px;
  border: 2px solid rgb(94, 209, 255);
  padding: 20px;
  border-radius: 30px;
}

.manageMenu h3 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

.manageMenu h3:hover {
  text-decoration: underline;
  color: skyblue;
}
