.PBD{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 15vw;
  padding-right: 15vw;
}
.PBD-title{
  display: flex;
  flex-flow: row;
  margin-top: 3rem;
  margin-bottom: 5rem;
  justify-content: space-between;
  align-items: end;
  padding-right: 10vw;
}

.problemsName-pbd{
  display: flex;
  flex-flow: row nowrap;
  align-items:flex-end;
}

.problemsName-pbd > div:nth-child(1){
  border: 3px solid red;
  color: red;
  display: flex;
  padding: 0px 40px;
  font-weight: 800;
  height: 40px;
  align-self: center;
  margin-right: 5rem;
  font-size: 1.5em;
}

.problemsName-pbd > div:nth-child(2){
  font-size: 2em;
  font-family: 'GmarketSansMedium';
  align-self: center;
  padding-top: 0.4rem;
}

.problemsRate-pbd{
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.problemsAns-pbd{
  color: skyblue;
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.8em;
  font-weight: 750;
  margin: 0 !important;
}

.PBD-body{
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 60px;
  margin-top: 3rem;
}

.PBD-body .PBD-problem{
  grid-column: 1/2;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.PBD-problem .PBD-pbTxt{
  min-height: 500px;
}

.PBD-pbTitle{
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 2px solid lightgray;
  gap: 20px;
  align-items: flex-start;

  font-family: 'GmarketSansMedium';
}

.PBD-problem .PBD-pbTxt h2{
  white-space: pre-wrap;
  font-family: 'GmarketSansMedium';
}

.PBD-problem .PBD-pbTxt #PBD-txt{
  white-space: pre-wrap;
  font-family: 'GmarketSansMedium';
  font-size: 1.1em;
  padding-left: 1rem;
  padding-top: 2rem;
}

.PBD-body .PBD-problem .PBD-exBox{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.PBD-body .PBD-problem .PBD-exBox .PBD-txt2{
  min-width: 330px;
  max-width: 330px;
  white-space: pre-wrap;
  min-height: 200px;
  max-height: 200px;
  padding-left: 0.5rem;
  font-family: 'GmarketSansMedium';
  font-size: 1.1em;
  padding-top: 1rem;
}

.PBD-body .PBD-input{
  grid-column: 2/3;
  display: flex;
  flex-flow: column;
}

.PBD-body .PBD-input .PBD-pbTitle{
  margin-bottom: 2rem;
}

#submit_btn{
  margin-top: 3rem !important;
}