.writeGuel {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.writeGuel .WGBody {
  width: clamp(600px, 90%, 1180px);
}

.writeGuel .wG_Head {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  margin-top: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
}

.writeGuel .wG_Head h2 {
  font-family: "GmarketSansMedium";
  margin: 0 !important;
  font-weight: 700;
}

.writeGuel .wG_one {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

#selectCate {
  width: 250px;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  margin: 0 !important;
}

#selectCate #floatingSelect {
  margin: 3px 0 0 0;
  font-family: "Pretendard-Regular";
  font-weight: 600;
}

#selectCate option {
  padding-top: 20px;
  font-family: "Pretendard-Regular";
  font-weight: 650;
}

#wG_Title {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  padding-top: 14px;
  font-size: 1.1em;
  border-radius: 15px;
}

.freeWrite {
  margin-top: 2rem;
}

#submitFree {
  margin-top: 2rem;
  width: 100%;
  font-family: "Pretendard-Regular";
  font-weight: 650;
  margin-bottom: 3rem;
  border-radius: 12px;
}

#free_txtInput {
  border-radius: 12px !important;
  font-family: "Pretendard-Regular";
  margin: 0 !important;
  font-size: 1em;
  font-weight: 580;
  padding: 13px;
}

.helpWrite {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 0.5vw;
  /* flex-direction: row;
  justify-content: space-between; */
  /* margin: 0 -12vw; */
}

.helpWrite .helpContent {
  min-height: 400px;
}

.helpContent .ql-editor {
  min-height: 480px !important;
  font-family: "Pretendard-Regular";

  font-size: 1.1em;
  font-weight: 600;
}

.helpWrite .helpCode {
  border: 1px solid lightgray;
  width: 45%;
  padding: 15px;
}

.cm-content {
  letter-spacing: 2px !important;
}

.helpWrite .cm-gutter {
  background-color: rgb(247, 252, 255);
}

.helpWrite .cm-gutterElement {
  background-color: rgb(255, 255, 255);
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}

.helpWrite .cm-line {
  /*background-color: rgb(255, 255, 255); */
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}

.helpWrite .cm-activeLine {
  /*background-color: rgb(243, 243, 243);*/
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}
