.board {
  display: flex;
  flex-flow: column nowrap;
}

.boardContent {
  padding-left: 18vw;
  padding-right: 18vw;
  margin-top: 5rem;
  margin-bottom: 5rem;
  min-height: 800px;
  display: flex;
  flex-flow: column nowrap;
}

.boardContent .boardHead {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 3rem;
}

.boardContent .boardHead .boardTitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 30px;
}

.boardContent .boardHead .boardTitle h2 {
  font-family: "GmarketSansMedium";
  margin: 0 !important;
  font-weight: 700;
  padding-top: 10px;
}

.board .boardOn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.board .boardOn h3 {
  font-family: "Pretendard-Regular";
  font-weight: 650;
  font-size: 1.2em;
  margin: 0 !important;
  padding-left: 15px;
}

.boardBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 3rem;
  align-items: center;
  justify-items: center;
  max-height: 1200px;
}
