.board {
  display: flex;
  flex-flow: column nowrap;
}

.boardContent {
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
  min-height: 800px;
  display: flex;
  flex-flow: column nowrap;
}

.bcBody {
  width: clamp(600px, 90%, 1200px);
}

.boardContent .boardHead {
  display: flex;
  flex-flow: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 3rem;
  cursor: pointer;
}

.boardContent .boardHead .boardTitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 30px;
}

.boardContent .boardHead .boardTitle h2 {
  font-family: "GmarketSansMedium";
  font-weight: 600;
  font-size: 1.7em;
  color: rgb(63, 63, 63);
  letter-spacing: 5px;
  margin: 0 !important;
  padding-left: 0.5rem;
}

.board .boardOn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  cursor: pointer;
}

.board .boardOn h3 {
  font-family: "Pretendard-Regular";
  font-weight: 650;
  font-size: 1.2em;
  margin: 0 !important;
  padding-left: 15px;
}

.bB {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1em;
}

.bB #guideLine {
  padding-left: 1vw;
  color: gray;
  font-family: "Pretendard-Regular";
  display: flex;
  flex-flow: row nowrap;
  gap: 7px;
  align-items: center;
  margin-bottom: 2em;
  cursor: pointer;
  width: fit-content;
}

.bB #guideLine:hover {
  color: skyblue;
  text-decoration: underline;
}

#guideLine p {
  margin: 0 !important;
}

#guidelineContent {
  white-space: pre-wrap;
  padding-left: 1vw;
  color: gray;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 2em;
}

.boardBody {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  height: auto;
}

.Bone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
  row-gap: 20px;
}

.fwAndQa {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  width: 390px;
}

.aiQA {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 0.5em 0;
}

.aiQA img {
  width: 55px;
}

.aiQA p {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  margin: 0 !important;
}

.aiQA:hover {
  background-color: rgb(222, 246, 255);
  cursor: pointer;
  color: navy;
}

.fwAndQa .modal h2 {
  font-weight: 600;
  font-size: 1.1em;
  color: navy;
  margin: 0 !important;
}

.fwAndQa .modal p {
  font-weight: 500;
  font-size: 1em;
  color: navy;
  margin: 0 !important;
}

.fwAndQa .modalTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.fwAndQa .modal {
  position: relative;
  background-color: #fff;
  width: 700px !important;
  height: 700px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 15px;
  font-family: "Pretendard-Regular";

  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 20px;
}

.fwAndQa .modal-wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(107, 114, 128, 0.5);
  z-index: 9;
  width: 100%;
  min-height: 100vh;
}

.fwAndQa .modal .qTo {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  align-items: center;
  align-self: flex-end;
  float: right;
  justify-content: end;
  width: fit-content;
  cursor: pointer;
}
.fwAndQa .modal .Aianswer {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.Aianswer h4 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  color: navy;
  margin: 0 !important;
}

.Aianswer .AianswerContent {
  padding: 8px;
}

.Aianswer .R-Code {
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  color: rgb(78, 78, 78);
  border-radius: 10px;
  cursor: text;
  background-color: rgb(245, 245, 245);

  white-space: pre-wrap;
  display: flex;
  flex-flow: column nowrap;
  gap: 3px;
}

.Aianswer .R-Code .codeLine {
  display: grid;
  grid-template-columns: 3% 95%;
  column-gap: 13px;
}

.Aianswer .codeLine .codeNum {
  grid-column: 1/2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}

.Aianswer .codeLine .codeTxt {
  grid-column: 2/3;
}

.modal .qTo :hover {
  text-decoration: underline;
}

.modal .cm-gutter {
  background-color: rgb(247, 252, 255);
}

.modal .cm-gutterElement {
  background-color: rgb(255, 255, 255);
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}

.modal .cm-line {
  /*background-color: rgb(255, 255, 255); */
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}

.modal .cm-activeLine {
  /*background-color: rgb(243, 243, 243);*/
  font-family: "Pretendard-Regular";
  font-size: 1em;
  font-weight: 500;
}

.FastWrite {
  display: flex;
  justify-self: center;
  flex-flow: column nowrap;
  height: 550px;
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 20px;
  width: 100%;
  overflow: auto;
  justify-content: stretch;
  position: sticky;
}

.FastWrite h2 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  margin: 0 !important;
  font-size: 1.2em;
}

.FastWrite .FWHead {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(180, 180, 180);
  margin-bottom: 20px;
}

.FastWrite .FWFooter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.FastWrite .FWFooter p {
  font-family: "Pretendard-Regular";
  margin: 0 !important;
  font-size: 0.9em;
  font-weight: 600;
  color: #5c5c5c;
}

#txtTitle {
  border-radius: 12px !important;
  font-family: "Pretendard-Regular";
  margin: 0 !important;
  font-size: 1em;
  font-weight: 580;
}

#txtInput {
  border-radius: 12px !important;
  font-family: "Pretendard-Regular";
  margin: 0 !important;
  height: 270px;
  background-color: #fff;
}

#FastSubmit {
  border-radius: 12px !important;
  font-family: "Pretendard-Regular";
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 20px;
}

@media screen and (max-width: 1250px) {
  .FastWrite {
    display: flex;
    flex-flow: column nowrap;
    height: 530px;
    border-radius: 25px;
    background-color: #f5f5f5;
    padding: 20px;
    width: 300px;
    overflow: auto;
    justify-content: stretch;
    position: sticky !important;
    z-index: 2;
    top: 75px;
  }
}

@media screen and (max-width: 1130px) and (min-width: 850px) {
  .Bone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    row-gap: 20px;
  }
}

@media screen and (max-width: 850px) {
  .boardBody {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 3rem;
    justify-content: space-between;
    gap: 15px;
  }

  .Bone {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
    gap: 15px;
  }
}
