/* 회원가입 */
.signUpForm{
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.signUpRight{
    border: 4px outset gray;
    padding: 20px;
    border-radius: 10px;
}

.signUpRight > h3{
    text-align: center;
    padding-bottom: 20px;
}

/* 각각 박스(아이디, 이름, ...) */
.signUpBox{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.signUpBox > input{
    width: 90%;
    border:none;
    background-color: rgb(214, 214, 214);
    padding: 10px 5px;
    font-size: medium;
    border-radius: 5px;
}

/* 아이디 입력 */
.signUpID{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.signUpID > input{
    width: 70%;
    border:none;
    background-color: rgb(214, 214, 214);
    padding-right: 10px;
}

/* 학생or선생 */
.signUpID > button{
    font-size: 1vw;
    border: none;
    color: rgb(141, 140, 140);
}

.signUpTypes{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.signUpTypes > div > label{
    padding-right: 10px;
}

/* 가입버튼 */
.signUpConfirm{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.signUpConfirmBtn{
    background-color: gray;
    color: white;
    width: 80%;
}

/* 로그인 */
.loginForm{
    width: 500px;
    border: 4px outset gray;
    padding: 20px;
    border-radius: 10px;
}

.loginForm > h3{
    text-align: center;
    padding-bottom: 20px;
}