.statusListContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1rem 0 5rem 0;
  min-height: 700px;
}

.statusListContainer .parentSLC {
  width: clamp(750px, 90%, 1200px);
}

.statusListContainer .statusListTop {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2rem;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  align-items: center;
  gap: 20px;
}

.statusListContainer .statusSort {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.sortBox {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
}

.sortBox:nth-child(4) {
  flex-grow: 1;
}

.sortBox p {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  margin: 0 !important;
}

.sortBox .form-check-input {
  margin-top: 4px;
}

.sortBox .searchBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  width: 100%;
  background-color: transparent;
}

.sortBox .searchBar #goSearch {
  cursor: pointer;
}

.sortBox .searchBar input {
  background-color: transparent;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  font-size: 0.92em;
  color: rgb(97, 127, 192);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(97, 127, 192);
  padding: 0px 5px;
  width: 90%;
}
.sortBox .searchBar input:focus {
  outline: none;
}

/*------------------------------리스트------------------------------*/

.statusListTop h4 {
  font-family: "GmarketSansMedium";
  font-weight: 600;
  font-size: 1.5em;
  color: rgb(63, 63, 63);
  letter-spacing: 5px;
  margin: 0 !important;
}

.statusListBox {
  border-bottom: 2px solid rgb(203, 219, 255);
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.7fr 0.5fr 1.3fr;
  align-items: center;
  justify-items: center;
  padding: 8px 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.statusListBoxHover:hover {
  background-color: rgb(233, 244, 253);
  cursor: pointer;
}

#SLBtop {
  border: 2px solid rgb(98, 148, 255);
  border-radius: 20px;
  background-color: rgb(246, 251, 255);
  padding: 12px 30px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  cursor: initial;
}

#SLBtop h4 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  margin: 0 !important;
  text-align: center;
  color: rgb(112, 112, 112);
}

.statusListBox h5 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 1em;
  margin: 0 !important;
}

.statusListBox h5:nth-child(1) {
  color: rgb(104, 104, 104);
}

.statusListBox h5:nth-child(3) {
  color: red;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}

.statusListBox h5:nth-child(7) {
  font-size: 0.9em;
}

.statusListBox .status {
  width: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.pageController {
  margin-top: 3rem;
}

/* ----------------------------반응형------------------------------*/

.statusListContainer .elseStatus {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: minmax(168px, 180px) minmax(390px, 440px) minmax(
      150px,
      170px
    );

  grid-template-rows: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 10px;
  /* justify-content: flex-start;
  align-items: center; */
  margin-bottom: 1.2rem;
}

.elseStatus .sortBox:nth-child(4) {
  grid-column: 1/4;
}
