@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.statusListContainer {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Pretendard-Regular";
  font-weight: 500;
  font-size: 1.1em;
  padding: 0 18vw;
  margin: 1rem 0 5rem 0;
  min-height: 700px;
}

.statusListContainer .statusListTop {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 3rem;
  padding-top: 1.2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
  align-items: center;
  gap: 20px;
}

.statusListTop h4 {
  font-family: "GmarketSansMedium";
  font-weight: 600;
  font-size: 1.5em;
  color: rgb(63, 63, 63);
  letter-spacing: 5px;
  margin: 0 !important;
}

.statusListBox {
  border-bottom: 2px solid rgb(203, 219, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 3vw;
  width: 100%;
}

#SLBtop {
  border: 2px solid rgb(98, 148, 255);
  border-radius: 15px;
  margin-bottom: 10px;
}

.statusListBox:nth-child(1) > div {
  border: none;
  margin: 0px !important;
  color: red;
  font-size: 1em;
  padding: 0.6rem 0px 0.5rem 0px;
}

.statusListBox .status {
  border: 1px solid gray;
  border-radius: 5px;
  padding-top: 0.3rem;
  height: 2rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statusListBox .s1 {
  background-color: gray;
}
.statusListBox .s2 {
  background-color: yellow;
}
.statusListBox .s3 {
  background-color: blue;
  color: white;
  cursor: pointer;
}
.statusListBox .s4 {
  background-color: red;
  cursor: pointer;
}

.pageController {
  margin-top: 5rem;
}
